
/* animations */
@keyframes animate-pane {
    0% { background-color: red; }
    25% { background-color: violet; }
    50% {background-color: magenta; }
    75% { background-color: purple; }
    100% { background-color: indigo; }
}

body {
    background-color: indigo;
    margin: 10px 10px 10px 10px;
}

iframe {
    align-content: center;
    margin: auto;
    position: relative;
    width: 100%;
}

.carousel-inner > .carousel-item > img {
    width: 100%;
}

.heading {
    border: 4px solid purple;
    margin: 4px 4px 4px 4px;

    animation-name: animate-pane;
    animation-direction: alternate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#menu {
    background-color: midnightblue;
    width: 10%;
    margin: 4px 4px 4px 4px;
}
